@import-normalize;
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "react-toastify/dist/ReactToastify.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto";
  background: #1e1e1e;
  color: rgb(219, 114, 102);
  overflow: hidden;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.main-container {
  height: calc(100vh - 40px);
}

.header {
  height: 80px;
  text-align: center;
}

.header img {
  width: 80px;
}

@media (max-width: 400px) {
  .header {
    display: none;
  }
}

.main {
  height: calc(100% - 80px);
  text-align: center;
}

.header-button {
  border: none;
  width: 40px;
  height: 40px;
  color: white;
  background: #db7266;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 12px;
  margin-right: 8px;
  transition: all 100ms ease;
}

@media (min-width: 992px) {
  .header-button:hover {
    background: #ab4f58;
  }
  .actress-name-button:hover {
    background: #ab4f58;
  }
  button.genre:hover {
    background: rgb(180, 93, 83);
  }
  .modal .clear-favorite-list:hover {
    background: rgb(180, 93, 83);
  }
  .modal .export-favorite-list:hover {
    background-color: #0e1c5c;
  }
}

.header-button.genre {
  width: auto;
  border-radius: 10px;
  border: none !important;
}

.header-button span {
  font-size: 22px;
}

.search-text {
  height: 20px;
  width: 400px;
  background: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 1.5em;
  transition: all 0.2s ease-in-out;
}

.search-text:focus,
.search-text:active,
.search-text {
  border: none;
  outline: none;
}

@media (max-width: 400px) {
  .search-text {
    width: 200px;
  }
}

.movie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  margin: 1.25em;
  overflow: auto;
  height: calc(100% - 90px);
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.movie-details {
  margin: 10px;
}

.movie-cover {
  width: 430px;
  height: 300px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .movie-cover {
    height: auto;
    width: 100%;
  }
}

.action-bar {
  display: flex;
  margin-top: 4px;
  font-size: 16px;
  color: #ffffff;
}
.title-container {
  padding: 0.5em;
  font-weight: bold;
  background-color: #db7266;
  background-image: linear-gradient(315deg,#db7266,#c5534a 74%);
  width: 75%;
}
.button-container {
  width: 25%;
  background-color: #db7266;
}

.button-icon {
  display: inline;
  position: relative;
  padding: clamp(4px, 0.8vw, 8px);
  font-size: clamp(14px, 0.8vw, 16px);
  top: 8px;
  cursor: pointer;
}

.like-movie.liked {
  color: #f31d42;
}

.movie-id {
  position: relative;
  display: inline-block;
  width: calc(100% - 15px);
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #2e7097 0%, #75a5c1 74%);
  padding: 0.5em;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  color: #ffffff;
}

.button-icon {
  display: inline;
}

.footer {
  height: 20px;
}

.spinner {
  width: 100px;
  height: 100px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.modal {
  width: clamp(10rem, 80%, 60rem);
  height: 66%;
  margin: 0 auto;
  padding: 4px 20px;
  background: #efefef;
  border-radius: 10px;
  position: relative;
  top: -50px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.modal.setting-modal {
  width: min(70vw, 400px);
  height: auto;
  color: #333;
  padding: 1.5em;
}

.setting-modal-logo {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.setting-modal h4 {
  margin: 0;
  font-size: 14px;
}
.setting-modal span {
  font-size: clamp(10px, 1.5vw, 12px);
}
.setting-modal .setting-footer {
  text-align: left;
  font-size: clamp(10px, 1.5vw, 12px);
  margin-top: 12px;
  display: flex;
}

.setting-modal .setting-footer .setting-footer-findme {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
}
.setting-modal .setting-footer .setting-footer-icon {
  margin-right: 0.5em;
  font-size: 16px;
  width: 20px;
}

.setting-modal a {
  text-decoration: none;
  color: #333 !important;
}

.modal .back-icon {
  width: 24px;
  height: 24px;
  padding: 4px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.modal .javadoz-video-container {
  text-align: center;
}

.modal .javadoz-video-details-container {
  height: auto;
  background: transparent;
  margin: 12px 0;
  padding: 1px 8px;
}

.modal .javadoz-video-details-container p {
  font-size: clamp(0.75rem, 2.5vw, 1.25rem);
  margin-block-start: 4px;
  margin-block-end: 12px;
}

.modal .javadoz-video-details-container .javadoz-video-details-label {
  font-size: clamp(1rem, 2.5vw, 1rem) !important;
  font-weight: bold;
  margin-block-end: 0.25rem;
}

.modal .javadoz-video-details-container .javadoz-video-details-text {
  font-size: clamp(0.75rem, 2.5vw, 1rem) !important;
}

.modal .javadoz-video-details-container .javadoz-video-details-label {
  font-size: clamp(1rem, 2.5vw, 1.25rem) !important;
  font-weight: bold;
}

.setting-footer-misc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.setting-footer-misc h4 {
  font-size: clamp(0.8rem, 2.5vw, 0.8rem) !important;
}

.modal .clear-favorite-list,
.modal .export-favorite-list {
  border: none;
  padding: 1em;
  background-color: rgb(219, 114, 102);
  color: white;
  margin-top: 8px;
  font-size: clamp(0.8rem, 2.5vw, 0.8rem) !important;
  cursor: pointer;
  transition: background 250ms ease;
}

.modal .export-favorite-list {
  background-color: #12267e;
}

.liked-movie-count {
  font-size: 10px !important;
  position: absolute;
  color: rgb(219, 114, 102);
  font-weight: bold;
  right: 17px;
  top: 13px;
}

.close-modal-bottom {
  align-self: end;
  cursor: pointer;
  padding: 1em;
}

.modal .javadoz-video-details-container .javadoz-video-details-categories {
  margin-bottom: 1.5em;
}

.javadoz-video-details-categories.with-close {
  display: flex;
  margin-bottom: 0.5em !important;
}

.javadoz-video-details-text.actresses {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.modal .javadoz-video {
  width: clamp(10rem, 100%, 60rem);
  max-height: 400px;
  border-radius: 10px;
  background: #333;
  cursor: pointer;
}

.modal .close-modal {
  position: absolute;
  font-size: 24px;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.modal .modal-movie-id {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-full-movie-container {
  text-align: center;
}

.play-full-movie-container .play-icon {
  margin-right: 12px;
  font-size: 18px;
}

.modal-button-container .play-full-movie-button,
.modal-button-container .liked-button {
  width: 100%;
  border: none;
  background: #db7266;
  padding: 0.75em;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 250ms ease;
}

.modal-button-container .liked-button.liked {
  background: #4ac194;
}

.play-full-movie-button:disabled {
  background: #b1b1b1;
}

.play-full-movie-button:hover:not(:disabled) {
  background: #ab4f58;
}

.actress-name-button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: clamp(0.75rem, 2.5vw, 1rem) !important;
  background: #db7266;
  letter-spacing: 0.5px;
  cursor: pointer;
  padding: 4px 12px;
  transition: background 300ms ease;
}

.actress-bio {
  display: flex;
  gap: 0.5em;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  box-shadow: 15px 15px 10px rgb(0 0 0 / 50%);
}

@media (max-width: 40rem) {
  .actress-bio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.actress-bio img {
  width: clamp(10rem, 50%, 12rem);
  margin: 1em;
}

.actress-bio .actress-label-text {
  margin: 0;
  font-weight: bold;
  margin-bottom: 8px;
}

.actress-bio .actress-bio-details-wrapper {
  align-self: center;
  padding: 0px 0.5em 15px 0.5em;
}

.actress-bio .actress-text {
  font-weight: normal;
}

.recent-movies {
  margin-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.trailer-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.movie-code {
  display: flex;
  font-size: 10px;
  padding: 0.5em;
  justify-content: center;
  letter-spacing: 1.5px;
  margin-top: -4px;
  font-weight: 600;
}

.movie-thumbnail-wrapper {
  cursor: pointer;
}
.filter-floating-menu {
  min-width: 250px;
  height: 500px;
  position: absolute;
  top: 0;
  border-radius: 15px;
  box-shadow: 15px 15px 10px rgb(0 0 0 / 50%);
  background: white;
  color: rgb(219, 114, 102);
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
}

@media (max-width: 400px) {
  .filter-floating-menu {
    top: 15%;
  }
}

button.genre {
  cursor: pointer;
  padding: 0.75em;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid white;
  background: rgb(219, 114, 102);
  color: white;
  transition: all 250ms ease;
}

button.genre.active {
  background: rgb(141, 72, 65);
}

.modal .liked-movie-thumbnail-wrapper {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
  cursor: auto;
  margin-bottom: 2em;
  margin-top: 1em;
}

.modal .liked-movie-thumbnail-wrapper img {
  width: min(80vw, 300px);
  cursor: pointer;
}

.modal .liked-movie-thumbnail-wrapper p {
  margin: 0;
}

.note-wrapper {
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  box-shadow: 15px 15px 10px rgb(0 0 0 / 50%);
  padding: 1em 1.5em;
  text-align: justify;
}

.liked-movie-title {
  display: flex;
}

.delete-button-icon {
  border: none;
  color: rgb(219, 114, 102);
  background: transparent;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}
