@import-normalize;
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "react-toastify/dist/ReactToastify.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto";
  background: #1e1e1e;
  color: rgb(219, 114, 102);
  overflow: hidden;
}

.main-container {
  height: calc(100vh - 40px);
}

.header {
  height: 80px;
  text-align: center;
}

.header img {
  width: 80px;
}

@media (max-width: 400px) {
  .header {
    display: none;
  }
}

.main {
  height: calc(100% - 80px);
  text-align: center;
}

.search-text {
  height: 20px;
  width: 400px;
  background: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 1.5em;
  transition: all 0.2s ease-in-out;
}

.search-text:focus,
.search-text:active,
.search-text {
  border: none;
  outline: none;
}

@media (max-width: 400px) {
  .search-text {
    width: 200px;
  }
}

.movie-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  margin: 1.25em;
  overflow: auto;
  height: calc(100% - 90px);
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.movie-details {
  margin: 10px;
}

.movie-cover {
  width: 430px;
  height: 300px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .movie-cover {
    height: auto;
    width: 100%;
  }
}

.action-bar {
  display: flex;
  margin-top: 4px;
  font-size: 16px;
  color: #ffffff;
}
.title-container {
  padding: 0.5em;
  font-weight: bold;
  background-color: #2c2748;
  background-image: linear-gradient(315deg, #2c2748 0%, #9591af 74%);
  width: 80%;
}
.button-container {
  width: 20%;
  background-color: #312b54;
}

.button-icon {
  display: inline;
  position: relative;
  padding: clamp(4px, 0.8vw, 8px);
  font-size: clamp(14px, 0.8vw, 16px);
  top: 8px;
  cursor: pointer;
}

.like-movie.liked {
  color: #f31d42;
}

.movie-id {
  position: relative;
  display: inline-block;
  width: calc(100% - 15px);
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #2e7097 0%, #75a5c1 74%);
  padding: 0.5em;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  color: #ffffff;
}

.button-icon {
  display: inline;
}

.footer {
  height: 20px;
}

.spinner {
  width: 100px;
  height: 100px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.modal {
  width: clamp(10rem, 80%, 60rem);
  height: 66%;
  margin: 0 auto;
  padding: 4px 20px;
  background: #efefef;
  border-radius: 10px;
  position: relative;
  top: -50px;
  overflow-y: scroll;
}

.modal .javadoz-video-container {
  text-align: center;
}

.modal .javadoz-video-details-container {
  height: auto;
  background: transparent;
  margin: 8px 0;
  padding: 1px 8px;
}

.modal .javadoz-video-details-container p {
  font-size: clamp(0.75rem, 2.5vw, 1.25rem);
  margin-block-start: 4px;
  margin-block-end: 12px;
}

.modal .javadoz-video-details-container .javadoz-video-details-label {
  font-size: clamp(1rem, 2.5vw, 1rem) !important;
  font-weight: bold;
  margin-block-end: 0.25rem;
}

.modal .javadoz-video-details-container .javadoz-video-details-text {
  font-size: clamp(0.75rem, 2.5vw, 1rem) !important;
}

.modal .javadoz-video-details-container .javadoz-video-details-label {
  font-size: clamp(1rem, 2.5vw, 1.25rem) !important;
  font-weight: bold;
}

.modal .javadoz-video-details-container .javadoz-video-details-categories {
  margin-bottom: 1.5em;
}

.modal .javadoz-video {
  width: clamp(10rem, 100%, 60rem);
  max-height: 400px;
  border-radius: 10px;
  background: #333;
  cursor: pointer;
}

.modal .close-modal {
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}

.modal .modal-movie-id {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  width: 96%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
